---
site_name: LatentLego
repo_name: quadbiolab/latent_lego
site_dir: docs
docs_dir: site
repo_url: https://github.com/quadbiolab/latent-lego
repo_name: quadbiolab/latent-lego
theme:
  icon:
    repo: fontawesome/brands/github
  name: 'material'
  logo: assets/images/logo.svg
  favicon: assets/images/favicon.png
  features:
    - navigation.tabs
  palette:
    scheme: default
    primary: white
    accent: amber
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
nav:
  - Home:
      - About: index.md
      - Quickstart: quickstart.md
  - Notebooks:
      - Integration: notebooks/integration.ipynb
  - API Reference:
      models:
        ae:
          Autoencoder: api/models/Autoencoder.md
          PoissonAutoencoder: api/models/PoissonAutoencoder.md
          NegativeBinomialAutoencoder: api/models/NegativeBinomialAutoencoder.md
          ZINBAutoencoder: api/models/ZINBAutoencoder.md
          TopologicalAutoencoder: api/models/TopologicalAutoencoder.md
        vae:
          VariationalAutoencoder: api/models/VariationalAutoencoder.md
          PoissonVAE: api/models/PoissonVAE.md
          NegativeBinomialVAE: api/models/NegativeBinomialVAE.md
          ZINBVAE: api/models/ZINBVAE.md
          TopologicalVariationalAutoencoder: api/models/TopologicalVariationalAutoencoder.md
        twae:
          TwinAutoencoder: api/models/TwinAutoencoder.md
      modules:
        encoder:
          Encoder: api/modules/Encoder.md
          VariationalEncoder: api/modules/VariationalEncoder.md
          TopologicalEncoder: api/modules/TopologicalEncoder.md
          TopologicalVariationalEncoder: api/modules/TopologicalVariationalEncoder.md
        decoder:
          Decoder: api/modules/Decoder.md
          PoissonDecoder: api/modules/PoissonDecoder.md
          NegativeBinomialDecoder: api/modules/NegativeBinomialDecoder.md
          ZINBDecoder: api/modules/ZINBDecoder.md
      activations:
        clipped_exp: api/activations/clipped_exp.md
        clipped_softplus: api/activations/clipped_softplus.md
        get: api/activations/get.md
      layers:
        DenseBlock: api/layers/DenseBlock.md
        DenseStack: api/layers/DenseStack.md
        RowwiseMult: api/layers/RowwiseMult.md
        # Sampling: api/layers/Sampling.md
        SharedDispersion: api/layers/SharedDispersion.md
        Constant: api/layers/Constant.md
        PseudoInputs: api/layers/PseudoInputs.md
      losses:
        NegativeBinomial: api/losses/NegativeBinomial.md
        ZINB: api/losses/ZINB.md
        MaximumMeanDiscrepancy: api/losses/MaximumMeanDiscrepancy.md
        TopologicalSignatureDistance: api/losses/TopologicalSignatureDistance.md
        get: api/losses/get.md
      callbacks:
        KLDivergenceScheduler: api/callbacks/KLDivergenceScheduler.md
plugins:
  - search
  - mkdocstrings:
      watch:
        - latent
      handlers:
        python:
          inherited_members: true
          rendering:
            show_root_heading: true
            heading_level: 3
            show_source: false
  - mknotebooks:
      enable_default_jupyter_cell_styling: false
      enable_default_pandas_dataframe_styling: false
